@charset "UTF-8";

/* 公共头部导航样式 */

input { background: none; border: none; outline: none;}

.top_main { position: fixed; z-index: 1000; top: 0; left: 0; width: 100%; min-width: 1264px; background-color: #000; height: 50px;}
.top_main * { font-size: 14px; font-family: 'Microsoft Yahei';}
.top_main .top_left .logo h1 { text-indent: -9999px; width: 211px; height: 50px; background: url(../images/logo_main.png) -30px 0;}
.top_main .top_left .top_nav>li { height: 50px; line-height: 50px; margin: 0 6px; background-color: #000;}
.top_main .top_left .mv_box i,.top_main .top_right .top_share>a i { width: 7px; height: 4px; margin: 23px 0 0 3px; background: url(../images/topbar_sprite2.png) -223px -18px;}
.top_main .top_left .top_nav>li a { padding: 0 13px 0 12px; display: block;}
.top_main .top_left .top_nav>.active>a { color:  #cf9; background-color: #222;}
.top_main .top_left .mv_box.active a i,.top_main .top_right .top_share.active>a i { background-position: -231px -18px;}
.top_main .top_left .top_nav li a { color: #ccc; }
.top_main .top_left .top_nav>:nth-child(1) a { color: #cf9; }
.top_main .top_left .top_nav>:nth-child(5) a { background: url(../images/shop2.gif) no-repeat;}
.top_main .top_left .top_nav>.mv_box { width: 60px;}
.top_main .top_left .top_nav>li .mv_list { background-color: #222; width: 80px;}
.top_main .top_left .top_nav>li .mv_list a { display: block; width: 71px; padding-left: 9px; padding-right: 0; height: 0; line-height: 36px; transition: height .5s; overflow: hidden;}
.top_main .top_left .top_nav .mv_box:hover .mv_list a { height: 36px; }
.top_main .top_left .top_nav>li .mv_list a:hover { background-color: #5a840a; color: #fff;}
.top_main .top_right .search_bar { margin: 10px 30px 0 0; background: url(../images/topbar_sprite2.png) 0 0 no-repeat; position: relative;}
.top_main .top_right .search_bar>div:nth-child(1),.top_main .top_right .search_bar>div:nth-child(2) { width: 15px; height: 29px; position: absolute;}
.top_main .top_right .search_bar>div:nth-child(1) { left: 0;}
.top_main .top_right .search_bar>div:nth-child(2) { right: 0;}
.top_main .top_right .search_bar :nth-child(3)>div { width: 223px; height: 29px; }
.top_main .top_right .search_bar :nth-child(3)>div input { margin-left: 15px; width: 193px; height: 30px; font-size: 12px; }
.top_main .top_right .search_bar :nth-child(3)>div i { position: absolute; right: 15px; top: 7px; width: 16px;height: 17px; background: url(../images/topbar_sprite2.png) -223px -1px; no-repeat;}
.top_main .top_right .top_vip { margin-right: 20px;}
.top_main .top_right .top_vip a { display: block; width: 33px; height: 25px;  background: url(../images/topbar_icon.png) -33px -33px no-repeat; margin-top: 13px; }
.top_main .top_right .top_up { margin-right: 15px;}
.top_main .top_right .top_up  a { display: block; width: 25px; height: 25px; margin-top: 11px; background: url(../images/topbar_icon.png) 0 -33px no-repeat; }
.top_main .top_right .top_up { margin-right: 15px;}
.top_main .top_right .top_up  a { display: block; width: 25px; height: 25px; margin-top: 11px; background: url(../images/topbar_icon.png) 0 -33px no-repeat; }
.top_main .top_right .top_share { padding: 0 6px; width: 56px;}
.top_main .top_right .top_share>a { display: block; width: 31px; height: 50px; padding: 0 12px 0 13px;}
.top_main .top_right .top_share>a span { width: 21px; height: 33px; margin-top: 17px; background: url(../images/app.png) no-repeat;}
.top_main .top_right .share_list { width: 95px; background-color: #222;overflow: hidden;}
.top_main .top_right .share_list a{ color: #ccc; display: block; padding-left: 9px; height: 0; line-height: 36px; transition: height .5s;}
.top_main .top_right .top_share:hover .share_list a { height: 36px;}
.top_main .top_right .share_list a:hover { background-color: #5a840a; color: #fff;}

.top_main .top_right .login_bar { width: 100px;height: 50px; line-height: 50px; margin-left: 15px;margin-right: 20px;}
.top_main .top_right .login_bar a { color: #ccc;}
.top_main .top_right .login_bar .login { margin-right: 11px; padding-right: 15px; border-right: 1px solid #666;}
.top_main .top_right .search_bar.focus { background-position: 0 -29px;}
.top_main .top_right .top_vip.active a { background: url('../images/vip_hover.png') 6px 6px no-repeat}
.top_main .top_right .top_up.active a { background: url('../images/upload_hover.png') 7px 6px no-repeat}
.top_main .top_right .top_share.active>a { background-color: #222;}
.top_main .top_right .top_share.active>a span { background: url('../images/app_hover.png') no-repeat;}
.top_main .top_right .login_bar a:hover { color: #cf9;}

.search_bar_down{ display: none;width: 224px;height: 344px;position: absolute; background-color: black;}
.search_bar.focus .search_bar_down{ display: block;}
.search_bar_down ul li{ height: 33px; text-align: center;}
.search_bar_down ul li a{ color: #ccc; line-height: 30px; font-size: 12px;}
.search_bar_down ul li:hover{ background-color: #4d4d4d;}
.search_bar_down ul li:hover a{ color: white;}


/* 公共底部样式 */

.footer_main { margin: 30px auto 0; min-width: 1000px;height: 150px; color: #999; line-height: 22px; text-align: center; background-color: #fff;}
.footer_main a { color: #999;}
.footer_main a:hover { color: #690;}
.footer_main .footer_links { padding: 35px 0 20px; font-size: 14px;}
.footer_main .footer_links a { color: #666;}
.footer_main .footer_links a:hover { color: #690;}
.footer_main .footer_links span { width: 2px; height: 10px; margin: 0 8px; display: inline-block; overflow: hidden; background: url(../images/ico_index.png) no-repeat -70px 0;}
.footer_main .footer_copy { font-size: 12px;}
.footer_main .footer_copy a { line-height: 22px; font-size: 12px;}


.back_top {
	position: fixed; bottom: 80px; right: 0; z-index: 100000; display: none;
}







































